<app-gradient-background></app-gradient-background>
<app-navbar></app-navbar>
<style>
  .title {
    font-size: 6rem;
    font-weight: 700;
    color: white;
    padding: 0px 20px 0px 20px;
    box-decoration-break: slice;
    margin: 20px;
    line-height: 1;
  }

  .small-title {
    font-size: 2rem;
    font-weight: 500;
    padding: 0px 20px 0px 20px;
    box-decoration-break: slice;
    margin: 20px;
    line-height: 1;
  }
</style>

<main class="z-10 font-sans flex flex-col min-h-screen">
  <div class="text-white m-2">
    <!-- playlist-insights.component.html -->
    <div *ngIf="playlistDataFiltered">
        <p class="title">Playlist data</p>
        <p class="small-title">Playlist data</p>
      <div
        class="grid grid-cols-6 justify-center p-1 m-1 rounded-lg h-[200px]"
      >
        <div
          *ngFor="let field of playlistDataFiltered.infoFields"
          class="flex flex-col bg-gray-800/50 m-1 rounded-md"
        >
          <div class="h-1/3 content-center text-center rounded-t-md font-semibold text-xl">{{ field.label }}</div>
          <div class="h-2/3 bg-gray-700/25 p-2 rounded-b-md font-normal text-lg">
            {{ field.key }}
          </div>
        </div>
      </div>
      <p>
        External URL:
        <a
          class="text-red-600"
          href="{{ playlistDataFiltered.externalUrl }}"
          target="_blank"
          >Open Playlist</a
        >
      </p>

      <h4>All Tracks:</h4>
      <h4>All Tracks:</h4>
      <ul>
        <li
          *ngFor="let track of playlistDataFiltered.tracks"
          class="bg-gray-800 p-2 m-1 rounded-md"
          [ngClass]="{ 'text-red-600': track.trackName === 'Unknown Track' }"
        >
          <strong>{{ track.trackName }}</strong> by {{ track.artists }}
          <strong>|</strong> {{ track.album }} <strong>|</strong>
          {{ track.link }}
        </li>
      </ul>

      <p>Number of tracks here: {{ playlistDataFiltered.actualTracksCount }}</p>

      <h4>Albums:</h4>
      <ul>
        <li
          *ngFor="let album of playlistDataFiltered.albums"
          class="bg-gray-800 p-2 m-1 rounded-md"
          [ngClass]="{ 'text-red-600': album.albumName === 'Unknown Album' }"
        >
          <strong>{{ album.albumName }}</strong> by {{ album.artists }}
          <strong>|</strong> this playlist has :
          {{ album.nbSongsInPlaylist }} songs of this album
        </li>
      </ul>

      <h4>Artist:</h4>
      <ul>
        <li
          *ngFor="let artist of playlistDataFiltered.artists"
          class="bg-gray-800 p-2 m-1 rounded-md"
          [ngClass]="{ 'text-red-600': artist.artistName === 'Unknown Artist' }"
        >
          <strong>{{ artist.artistName }}</strong>
          <strong> |</strong> this playlist has :
          {{ artist.nbSongsInPlaylist }} songs of this artist
        </li>
      </ul>
    </div>

    <div *ngIf="!playlistDataFiltered">
      <p>Loading...</p>
    </div>
  </div>
</main>
