<main class="bg-gray-950 font-sans flex flex-col min-h-screen">
  <div class="text-green-600 font-semibold text-2xl m-5">
    Here is your playlist data
    <p id="playlist_id"></p>
  </div>

  <div class="text-green-600 mx-2 mb-2">
    <!-- playlist-insights.component.html -->

    <div *ngIf="playlistDataFiltered">
      <h3>Playlist Information:</h3>
      <p>Name: {{ playlistDataFiltered.name }}</p>
      <p>Track Count: {{ playlistDataFiltered.trackCount }}</p>
      <p>Description: {{ playlistDataFiltered.description }}</p>
      <p>Followers: {{ playlistDataFiltered.followers }}</p>
      <p>Collaborative: {{ playlistDataFiltered.collaborative }}</p>
      <p>Owner: {{ playlistDataFiltered.owner }}</p>
      <p>
        External URL:
        <a class="text-red-600" href="{{ playlistDataFiltered.externalUrl }}" target="_blank"
          >Open Playlist</a
        >
      </p>

      <h4>Tracks:</h4>
      <ul>
        <li *ngFor="let track of playlistDataFiltered.tracks">
          <strong>{{ track.trackName }}</strong> by {{ track.artists }}
        </li>
      </ul>

      <p>Number of tracks here: {{ playlistDataFiltered.actualTracksCount }}</p>
    </div>

    <div *ngIf="!playlistDataFiltered">
      <p>Loading...</p>
    </div>
  </div>
</main>
