<style>
  .title {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px 0px 10px 0px;
    color: white;
    box-decoration-break: slice;
    line-height: 1;
    text-align: center;
  }
</style>

<div class="flex font-sans h-full">
  <div class="flex text-white w-full">
    <div
      *ngIf="playlistDataFiltered && loading == false"
      class="flex w-full h-full"
    >
      <!-- LEFT PART -->
      <div
        class="{{ rightBig == true ? 'w-1/3' : 'w-2/3' }} transition-all duration-500 overflow-y-hidden"
      >
        <div class="flex flex-col h-full p-4">
          <a
            class="title"
            href="{{ playlistDataFiltered.externalUrl }}"
            target="_blank"
            >{{ playlistDataFiltered.name }}</a
          >
          <p class="mb-2 pl-3">Basic informations :</p>
          <div
            class="flex flex-col rounded-md bg-white/50 border border-white shadow-lg divide-y"
          >
            <div
              *ngFor="let field of playlistDataFiltered.infoFields"
              class="grid grid-cols-4 divide-x"
            >
              <div class="col-span-1 px-3 py-2 font-semibold text-lg leading-5">
                {{ field.label }}
              </div>
              <div class="col-span-3 px-2 py-2 font-normal text-md leading-5">
                {{ field.key }}
              </div>
            </div>
          </div>
          <button (click)="rightBigToggle()">TEST</button>
        </div>
      </div>

      <!-- RIGHT PART -->
      <div
        class="{{ rightBig == true ? 'w-2/3' : 'w-1/3' }} transition-all duration-500 bg-white/50 border-l border-white shadow-lg"
      >
        <div class="flex flex-col h-full space-y-4 pt-4">
          <div class="">
            <div class="grid grid-cols-3 w-[300px] h-[40px] gap-2 mx-auto">
              <button
                class="col-span-1 bg-black/25 hover:bg-black/50 active:bg-black/75 rounded-md {{ currentMenu == 'albums' ? 'ring-1 ring-white' : '' }}"
                (click)="changeMenu('albums')"
              >
                albums
              </button>
              <button
                class="col-span-1 bg-black/25 hover:bg-black/50 active:bg-black/75 rounded-md {{ currentMenu == 'artists' ? 'ring-1 ring-white' : '' }}"
                (click)="changeMenu('artists')"
              >
                artists
              </button>
              <button
                class="col-span-1 bg-black/25 hover:bg-black/50 active:bg-black/75 rounded-md {{ currentMenu == 'tracks' ? 'ring-1 ring-white' : '' }}"
                (click)="changeMenu('tracks')"
              >
                tracks
              </button>
            </div>
          </div>

          <!-- Scrollable DIV -->
          <div class="flex-1 overflow-y-scroll px-4 pb-4">
            <div
              *ngIf="currentMenu == 'albums'"
              class="space-y-2"
            >
              <div class="grid grid-cols-1 w-full gap-2">
                <div
                  *ngFor="let album of playlistDataFiltered.albums"
                  class="col-span-1 bg-gray-800 p-2 rounded-md"
                  [ngClass]="{
                'text-red-600': album.albumName === 'Unknown Album'
              }"
                >
                  <strong>{{ album.albumName }}</strong> by {{ album.artists }}
                  <strong>|</strong> this playlist has : {{
                  album.nbSongsInPlaylist }} songs of this album
                </div>
              </div>
            </div>

            <div
              *ngIf="currentMenu == 'artists'"
              class="space-y-2"
            >
              <div class="grid grid-cols-1 w-full gap-2">
                <div
                  *ngFor="let artist of playlistDataFiltered.artists"
                  class="col-span-1 bg-gray-800 p-2 rounded-md"
                  [ngClass]="{
                'text-red-600': artist.artistName === 'Unknown Artist'
              }"
                >
                  <strong>{{ artist.artistName }}</strong>
                  <strong> |</strong> this playlist has : {{
                  artist.nbSongsInPlaylist }} songs of this artist
                </div>
              </div>
            </div>

            <div
              *ngIf="currentMenu == 'tracks'"
              class="space-y-2"
            >
              <div class="grid grid-cols-1 w-full gap-2">
                <div
                  *ngFor="let track of playlistDataFiltered.tracks"
                  class="bg-gray-800 p-2 rounded-md"
                  [ngClass]="{
                'text-red-600': track.trackName === 'Unknown Track'
              }"
                >
                  <strong>{{ track.trackName }}</strong> by {{ track.artists }}
                  <strong>|</strong> {{ track.album }} <strong>|</strong>
                  {{ track.link }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="loading === true"
      class="flex w-full py-20 justify-center items-center"
    >
      <app-loading-animation></app-loading-animation>
    </div>
  </div>
</div>
