<style>
  .small-title {
    font-size: 28px;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
    box-decoration-break: slice;
    line-height: 1;
    color: white;
  }
</style>

<div class="flex flex-col bg-neutral-900 h-screen">
  <div class="grid grid-cols-3 gap-4 mx-10">
    <div class="flex col-span-1 small-title justify-end">
      <button
        *ngIf="playlistType == 'spotify'"
        class="flex items-center h-8"
        (click)="resetId()"
      >
        <img src="spotify-logo-color.png" class="h-8 pr-3" alt="logo" />
        <p>Spotify Playlist Insights</p>
      </button>
      <button
        *ngIf="playlistType == 'deezer'"
        class="flex items-center h-8"
        (click)="resetId()"
      >
        <img src="deezer-logo.png" class="h-8 pr-3" alt="logo" />
        <p>Deezer Playlist Insights</p>
      </button>
      <button
        *ngIf="playlistType == 'appleMusic'"
        class="flex items-center h-8"
        (click)="resetId()"
      >
        <img src="apple-music-logo-color.png" class="h-6 pr-3" alt="logo" />
        <p>Apple Music Playlist Insights</p>
      </button>
      <button
        *ngIf="playlistType == 'soundcloud'"
        class="flex items-center h-8"
        (click)="resetId()"
      >
        <img src="soundcloud-logo-color.png" class="h-8 pr-3" alt="logo" />
        <p>SoundCloud Playlist Insights</p>
      </button>
    </div>
    <!-- TEMPORARY -->
    <div *ngIf="playlistType == 'spotify'" class="flex col-span-2 items-center">
      <app-url-playlist-insights
        (playlistSelected)="onPlaylistSelected($event)"
        [playlistType]="playlistType"
      ></app-url-playlist-insights>
    </div>
  </div>
  <app-navbar></app-navbar>
  <div class="flex mb-4 mx-4 flex-1 overflow-hidden shadow-inner">
    <div *ngIf="playlistType == 'spotify'" class="gradient-bg-spotify">
      <div>
        <div class="g1-spotify"></div>
        <div class="g2-spotify"></div>
        <div class="g3-spotify"></div>
        <div class="g4-spotify"></div>
        <div class="g5-spotify"></div>
      </div>
      <div
        *ngIf="playlistId"
        class="flex flex-col z-10 w-full h-full bg-black/25 overflow-hidden"
      >
        <div class="overflow-y-auto h-full">
          <app-spotify-playlist-insights
            [playlistId]="playlistId"
          ></app-spotify-playlist-insights>
        </div>
      </div>
      <div
        *ngIf="!playlistId"
        class="flex flex-col z-10 p-4 w-full h-full bg-black/25"
      >
        <p class="text-white text-[2rem] font-medium leading-none m-4 mb-8">
          Welcome to the Spotify playlist analysis page!
        </p>
        <div class="flex bg-neutral-900/50 rounded-lg p-4 w-full">
          <p class="text-white text-lg leading-none">
            Please insert the URL link of the Spotify playlist you wish to
            analyse up here.
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="playlistType == 'deezer'" class="gradient-bg-deezer">
      <div>
        <div class="g1-deezer"></div>
        <div class="g2-deezer"></div>
        <div class="g3-deezer"></div>
        <div class="g4-deezer"></div>
        <div class="g5-deezer"></div>
      </div>
      <div
        *ngIf="playlistId"
        class="flex flex-col z-10 w-full h-full bg-black/25 overflow-hidden"
      >
        <div class="overflow-y-auto h-full">
          <app-deezer-playlist-insights
            [playlistId]="playlistId"
          ></app-deezer-playlist-insights>
        </div>
      </div>
      <div
        *ngIf="!playlistId"
        class="flex flex-col z-10 p-4 w-full h-full bg-black/25"
      >
        <p class="text-white text-[2rem] font-medium leading-none m-4 mb-8">
          This page will be available soon.
        </p>
      </div>
    </div>
    <div *ngIf="playlistType == 'appleMusic'" class="gradient-bg-appleMusic">
      <div>
        <div class="g1-appleMusic"></div>
        <div class="g2-appleMusic"></div>
        <div class="g3-appleMusic"></div>
        <div class="g4-appleMusic"></div>
        <div class="g5-appleMusic"></div>
      </div>
      <div
        *ngIf="playlistId"
        class="flex flex-col z-10 w-full h-full bg-black/25 overflow-hidden"
      >
        <div class="overflow-y-auto h-full">
          <app-apple-music-playlist-insights
            [playlistId]="playlistId"
          ></app-apple-music-playlist-insights>
        </div>
      </div>
      <div
        *ngIf="!playlistId"
        class="flex flex-col z-10 p-4 w-full h-full bg-black/25"
      >
        <p class="text-white text-[2rem] font-medium leading-none m-4 mb-8">
          This page will be available soon.
        </p>
      </div>
    </div>

    <div *ngIf="playlistType == 'soundcloud'" class="gradient-bg-soundcloud">
      <div>
        <div class="g1-soundcloud"></div>
        <div class="g2-soundcloud"></div>
        <div class="g3-soundcloud"></div>
        <div class="g4-soundcloud"></div>
        <div class="g5-soundcloud"></div>
      </div>
      <div
        *ngIf="playlistId"
        class="flex flex-col z-10 w-full h-full bg-black/25 overflow-hidden"
      >
        <div class="overflow-y-auto h-full">
          <app-soundcloud-playlist-insights
            [playlistId]="playlistId"
          ></app-soundcloud-playlist-insights>
        </div>
      </div>
      <div
        *ngIf="!playlistId"
        class="flex flex-col z-10 p-4 w-full h-full bg-black/25"
      >
        <p class="text-white text-[2rem] font-medium leading-none m-4 mb-8">
          This page will be available soon.
        </p>
      </div>
    </div>
  </div>
</div>
