<style>
  .small-title {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0px 20px 0px;
    box-decoration-break: slice;
    line-height: 1;
    color: white;
  }
</style>

<div class="flex flex-col bg-neutral-900 h-screen">
  <div class="grid grid-cols-3 gap-4 mx-10">
    <button class="col-span-1 small-title text-end" (click)="resetId()">
      Spotify Playlist Insights
    </button>
    <div class="flex col-span-2 items-center">
      <app-url-playlist-insights
        (playlistSelected)="onPlaylistSelected($event)"
      ></app-url-playlist-insights>
    </div>
  </div>
  <app-navbar></app-navbar>
  <div class="flex mb-4 mx-4 flex-1 overflow-hidden shadow-inner">
    <div class="gradient-bg">
      <div>
        <div class="g1"></div>
        <div class="g2"></div>
        <div class="g3"></div>
        <div class="g4"></div>
        <div class="g5"></div>
      </div>
      <div
        *ngIf="playlistId"
        class="flex flex-col z-10 w-full h-full bg-black/25 overflow-hidden"
      >
        <div class="overflow-y-auto">
          <app-playlist-insights
            [playlistId]="playlistId"
          ></app-playlist-insights>
        </div>
      </div>
      <div
        *ngIf="!playlistId"
        class="flex flex-col z-10 p-4 w-full h-full bg-black/25"
      >
        <p class="text-white text-[2rem] font-medium leading-none m-4 mb-8">
          Welcome to the playlist analysis page!
        </p>
        <div class="flex bg-neutral-900/50 rounded-lg p-4 w-full">
          <p class="text-white text-lg leading-none">
            Please insert the URL link of the playlist you wsih to analyse up
            here.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
