<div
  class="flex h-[50px] w-[300px] bg-neutral-900 text-white rounded-lg z-20 fixed bottom-8 left-1/2 transform -translate-x-1/2 gap-1.5 p-1.5 shadow-md"
>
  <button
    class="flex w-1/3 text-white justify-center items-center bg-green-600 rounded-md hover:bg-green-700 active:bg-green-800"
    (click)="navigateToHome()"
  >
    <div class="flex gap-1 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        style="fill: #ffffff"
      >
        <path
          d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 15 L 14 15 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z"
        ></path>
      </svg>
      <p class="">Home</p>
    </div>
  </button>
  <button
    class="flex w-1/6 text-white justify-center items-center bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800 rounded-md"
    (click)="back()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        d="M15 19l-7-7 7-7"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      />
    </svg>
  </button>
  <button
    class="flex w-1/6 text-white justify-center items-center bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800 rounded-md"
    (click)="forward()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        d="M9 5l7 7-7 7"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      />
    </svg>
  </button>
  <button
    class="flex w-1/3 text-white justify-center items-center bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800 rounded-md"
    (click)="translate()"
  >
    {{ language }}
  </button>
</div>
