<div class="grid grid-cols-3 h-[50px] w-[300px] bg-green-500 text-white rounded-lg z-20 fixed bottom-5 left-1/2 transform -translate-x-1/2 gap-1.5 p-1.5 shadow-md">
    <div class="flex col-span-1 text-white justify-center items-center bg-green-600 rounded-md hover:bg-green-700 active:ring-1 ring-gray-200" (click)="navigateToHome()">
        <div></div>
    </div>
    <div class="flex col-span-1 text-white justify-center items-center border border-green-600 rounded-md">
        <div></div>
    </div>
    <div class="flex col-span-1 text-white justify-center items-center border border-green-600 rounded-md">
        <div></div>
    </div>
</div>