<div
  class="flex h-[50px] w-auto bg-neutral-900 text-white rounded-lg z-20 fixed bottom-8 left-1/2 transform -translate-x-1/2 gap-1.5 p-1.5 shadow-md"
>
  <button
    class="flex w-28 text-white justify-center items-center bg-gradient-to-r from-green-600 to-purple-600 rounded-md hover:bg-green-700 active:bg-green-800"
    (click)="navigateToHome()"
  >
    <div class="flex gap-1 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        style="fill: #ffffff"
      >
        <path
          d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 15 L 14 15 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z"
        ></path>
      </svg>
      <p class="">Home</p>
    </div>
  </button>
  <!-- <button
    class="flex w-28 text-white justify-center items-center rounded-md bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800"
    (click)="navigateToPlaylist()"
  >
    <div class="flex gap-1 items-center">
      <p class="">Playlists</p>
    </div>
  </button> -->

  <div class="relative group">
    <!-- Bouton principal -->
    <button
      class="flex w-28 h-full text-white justify-center items-center rounded-t-md rounded-b-md bg-neutral-600 active:bg-neutral-800 group-hover:rounded-t-none"
    >
      <div class="flex gap-1 items-center">
        <p>Playlists</p>
      </div>
    </button>
  
    <!-- Dropdown vers le haut -->
    <div
      class="absolute hidden group-hover:flex flex-col bg-neutral-600 text-white bottom-full z-50 w-full rounded-t-md items-center justify-center border-b border-neutral-700"
    >
      <button (click)="gotToPlaylist('spotify')" class="px-4 py-2 hover:bg-neutral-700 w-full rounded-t-md text-center underline decoration-2 decoration-green-600">Spotify</button>
      <button (click)="gotToPlaylist('deezer')" class="px-4 py-2 hover:bg-neutral-700 w-full text-center underline decoration-2 decoration-purple-600">Deezer</button>
    </div>
  </div>
  
  <div class="w-[2px] h-full bg-neutral-500 opacity-50"></div>
  <button
    class="flex w-20 text-white justify-center items-center bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800 rounded-md"
    (click)="translate()"
  >
    <img src="language-logo-white.svg" alt="world" height="20" width="20" class="mr-2"/>EN
  </button>
</div>

<!-- <button
    class="flex w-1/6 text-white justify-center items-center bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800 rounded-md"
    (click)="back()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        d="M15 19l-7-7 7-7"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      />
    </svg>
  </button>
  <button
    class="flex w-1/6 text-white justify-center items-center bg-neutral-600 hover:bg-neutral-700 active:bg-neutral-800 rounded-md"
    (click)="forward()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path
        d="M9 5l7 7-7 7"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      />
    </svg>
  </button> -->
