<main class="z-10 font-sans">
  <div
    class="flex gap-y-1 font-sans"
  >
    <form class="flex gap-x-4" onsubmit="return false;">
      <input
        placeholder="Spotify Playlist URL"
        id="input"
        class="h-[40px] w-[400px] font-sans rounded-md p-3"
      />
      <button
        type="submit"
        [ngClass]="{
          'bg-green-600 hover:bg-green-700': playlistType == 'spotify',
          'bg-purple-600 hover:bg-purple-700': playlistType == 'deezer',
        }"
        class=" w-[80px] text-white font-sans rounded-md active:ring ring-white"
        (click)="submit()"
      >
        Submit
      </button>
    </form>
  </div>
</main>
