<main class="z-10 font-sans">
  <div
    class="flex gap-y-1 font-sans"
  >
    <form class="flex gap-x-4" onsubmit="return false;">
      <input
        placeholder="Spotify Playlist URL"
        id="input"
        class="h-[40px] w-[400px] font-sans rounded-md p-3"
      />
      <button
        type="submit"
        class="bg-green-600 w-[80px] text-white font-sans rounded-md hover:bg-green-700 active:ring ring-white"
        (click)="submit()"
      >
        Submit
      </button>
    </form>
  </div>
</main>
