<div>
  <div class="gradient-bg">
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
    </div>
  </div>

  <!-- <div class="content">
    <p class="pre-title">Coming Soon :</p>
    <p class="title">Spotify Insights</p>
  </div> -->
  <div class="content">
    <div class="flex flex-col h-full w-full">
      <div class="flex w-full h-1/5 justify-center items-center">
        <div class="title">Welcome to Playlist Insights</div>
      </div>
      <div class="flex w-full h-4/5 pb-14 px-14">
        <div class="big-box">
          <div class="flex-col h-full space-y-2 w-full">
            <div
              class="flex flex-col w-full h-1/5 justify-center items-center p-4"
            >
              <p class="font-semibold text-center text-xl">
                This website allows you to get stats and insights on your public
                playlists.
              </p>
              <p class="font-semibold text-center text-xl">
                For now, it only works for Spotify playlists, but I am working
                on implementing Deezer, Apple Music and SoundCloud playlists.
              </p>
            </div>
            <div
              class="grid grid-cols-5 w-full h-1/6 bg-neutral-600/50 rounded-lg p-2"
            >
              <div class="flex col-span-4 items-center px-4">
                <p class="font-semibold text-center text-3xl">
                  Spotify Playlist Insights
                </p>
              </div>
              <div class="flex col-span-1 p-1">
                <button
                  class="flex w-full text-white justify-center items-center bg-green-600 rounded-md hover:bg-green-700 active:bg-green-800"
                  (click)="navigateToSpotifyInsights()"
                >
                  <div class="flex items-center">
                    <p class="">Go</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
